<!-- 
<div class="insight-container" [ngClass]="{'close':isRendering}">
    <div class="title-selector">
        <div style="display: flex; align-items: center;justify-content: center;">
            <app-menu-selector (selectedItem)="changeSelect($event)" [labelStr]="'select data display'"
                [options]="stackVertDataOptions" [currentSelected]="dataDisplay">
            </app-menu-selector>
        </div>
    </div>
    <div class="chart-container">
        <ng-template #container class="content">
        </ng-template>
    </div>
</div> -->