<div *ngIf="isRendering" class="loading-container">
    <app-loading-data></app-loading-data>
</div>
<div class="insight-container" [ngClass]="{'close':isRendering}">
    <div class="title-selector">

        <div style="display: flex; align-items: center;justify-content: center;">
            <app-menu-selector (selectedItem)="changeSelect($event)" [labelStr]="'select data display'"
                [options]="stackVertDataOptions" [currentSelected]="dataDisplay">
            </app-menu-selector>
        </div>
    </div>
    <div *ngIf="chartMetadataIsInvalid" class="chart-metadata-invalid-container">
        <app-data-not-available></app-data-not-available>
    </div>
    <div class="chart-container" [ngClass]="{'invalid': chartMetadataIsInvalid, 'expend': isChartNeedExpend}">
        <ng-template #container class="content">
        </ng-template>
        <!-- <app-vertical-bar [chartId]="chartId" [chartDivId]="chartDivId" [chartDataDisplay]="XYChartData"
            showChartLegendDivide="true" [categoryType]="metadata.categoryKeyType" (chartReady)="onChartReady($event)"
            (chartCategoryExpend)="onChartExpend($event)">
        </app-vertical-bar> -->
    </div>
</div>