.app {
  overflow-y: hidden;
}
.app-content {
  flex-grow: 1;
  margin-bottom: 2px;
}
.current-page-content {
  width: 100%;
  height: 100%;
}
.app-footer {
  position: re;
  bottom: 0px;
}

.main-app-cont div {
  margin: 10px;
}


.grid-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard .page-main-title {
  flex-direction: row;
}

.dashboard-grid-view {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  min-height: 700px;
}

.add-filter-btn.dashboard {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
  color: #1e6ee5;
}

.scope-name {
  overflow: hidden;
  text-overflow: ellipsis;
}
.dashboard-date-filter-container {
  display: flex;
  justify-content: space-between;
}

.date-filter-option {
  padding: 5px;
}


.date-picker {
  padding-right: 16px;
}

.select-scope-text {
  padding-left: 5px;
}
[nz-menu-item] {
  width: 124px;
  padding-bottom: 7px;
  padding-top: 7px;

}

[nz-menu] {
  padding-top: 7px;
  padding-right: 10px;
  padding-left: 7px;
  padding-bottom: 7px;
}

@media only screen and (max-width: 800px) {
  .dashboard .page-main-title {
    flex-direction: column;
  }

  .dashboard-grid-view {
    display: flex;
    flex-wrap: wrap;
  }
  .full-width {
    margin: 16px;
    width: 95%;
  }
  .single-data {
    min-height: 200px;
  }
  .single-data.insight {
    min-height: 400px;
  }
}
