<!-- <div class="selection-options">
  <div class="selection-content">
    <span>Selection for Area</span>
    <select [(ngModel)]="dataDisplayArea.name" (change)="changeSelectArea()">
      <option *ngFor="let opt of stackVertDataOptions" [value]="opt.name">
        {{ opt.name }}
      </option>
    </select>
  </div>
  <div class="selection-content">
    <span>Selection for Vertical</span>
    <select [(ngModel)]="dataDisplay.name" (change)="changeSelect()">
      <option *ngFor="let opt of stackVertDataOptions" [value]="opt.name">
        {{ opt.name }}
      </option>
    </select>
  </div>
</div> -->


<div class="graphs-container">
  <!-- <div class="graph">
    <app-stack-area-chart></app-stack-area-chart>
  </div>
  <div class="graph">
    <app-stack-area-chart></app-stack-area-chart>
  </div>
  <div class="graph">
    <app-stack-vert-chart></app-stack-vert-chart>
  </div>
  <div class="graph">
    <app-stack-vert-chart></app-stack-vert-chart>
  </div> -->
  <div class="graph">
    <app-stack-vert-chart></app-stack-vert-chart>
  </div>
  <div class="graph">
    <app-stack-vert-chart></app-stack-vert-chart>
  </div>
</div>